<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	   	<title>Dementia Care Logout</title>
	    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    	<link rel="stylesheet" href="logout.css">
	</head>
	<body>
		<h2 class="title" align="center">You have been logged out</h2>
		<div class="container" style="text-align: center;">
			<div class="control" id="thisbutton">
	            <!---a href="/home.html" class="button is-link">Home</a--->
	        </div>
	    </div>
</body>
</html>
